html, body
{

   padding: 0px;
   margin: 0px;
   background-image: url(../media/images/logowebsite.png);
   background-repeat: no-repeat;

}


#headContainer
{

  /* width: 100%;
   height: 60px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   background-color: #030303;
   position: relative;
   top: 15px;
   z-index: 6;*/

}


.loginPage
{

   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   overflow: hidden;

}


#heads
{

   width: auto;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
  /* margin-left: 50px;*/
   position: relative;

}


#heads p
{

    font-size: 20px;
    color: #030303;
    margin-left: 115px;
    margin-top: -20px;

}

#logo
{

   height: 90px;
   cursor: pointer;

}


#logoText
{

   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   width: auto;
   height: 90px;
   margin-left: 20px;

}


#logoText h1
{

   text-align: center;
   color: #030303;
   margin-bottom: 0px;
   margin-top: -5px;

}


#logoText h1:nth-child(2)
{

   position: relative;
   top: 3px;

}


#logoText p
{

  text-align: center;
  font-size: 17px;
  color: #030303;
  margin-top: 3px;

}

/*#menuItems
{

    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    position: relative;
    top: 20px;

}


#menuItems a
{

  text-decoration: none;
  color: #030303;
  font-size: 20px;
  margin-left: 15px;
  margin-right: 15px;

}*/


#core
{

   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}


#error
{

    text-align: center;
    font-size: 20px;
    color: #222222;
    margin-bottom: 30px;
    position: relative;
    bottom: 20px;

}


#core form
{

   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   width: 50%;
   height: auto;
   margin: auto;
   z-index: 2;

}


/*#formBack
{

   width: 50%;
   height: 300px;
   border: 1px solid #030303;
   border-radius: 3px;
   background-color: #030303;
   opacity: 0.5;
   margin-bottom: -270px;
   z-index: 0;

}*/


#core form label
{

   text-align: center;
   font-size: 20px;
   color: #030303;
   margin-bottom: 0px;

}


.usersData
{

    width: 100%;
    height: 35px;
    border: 1px solid white;
    border-bottom: 1px solid #030303;
    color: #030303;
    font-size: 18px;
    margin-bottom: 30px;

}


.usersData:focus
{

   border-bottom: 1px solid #F59C00;

}


.signInUp
{

   width: 100%;
   height: auto;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin-top: -20px;

}


#sigin
{

   background-color: #F59C00;
   color: white;
   text-align: center;
   cursor: pointer;
   width: 50%;
   height: 43px;
   border: 1px solid #F59C00;
   border-radius: 3px 0px 0px 3px;
   font-size: 20px;


}


#sigup
{

   background-color: #030303;
   color: white;
   text-align: center;
   cursor: pointer;
   width: 50%;
   height: 43px;
   border: 1px solid #030303;
   border-radius: 0px 3px 3px 0px;
   font-size: 20px;


}




#sigin:hover
{

  background-color: #92610B;

}


#sigup:hover
{

   background-color: white;
   color: #030303;

}


#dataRecovery
{

   font-size: 20px;
   cursor: pointer;
   color: /*#ED5A5A*/#030303;
   z-index: 2;

}


#dataRecovery:hover
{

   color: #F59C00;

}


#recoveryDataScreen
{

   width: 60%;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border: 1px solid #030303;
   border-radius: 3px;
   background-color: #030303;
   position: relative;
   top: 800px;
   z-index: 3;
   opacity: 0.97;
   margin-top: -200px;

}


#closeRecoverForm
{

   position: relative;
  /* left: 270px;*/
   cursor: pointer;
   margin-top: 10px;

}


#explain
{

   width: 80%;
   height: auto;
   font-size: 18px;
   color: white;
   text-align: center;
   margin-bottom: 20px;

}


#recoveryDataScreen form
{

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 90%;
   height: auto;

}


#recoveryDataScreen form input
{

  width: 98%;
  height: 40px;
  border: 1px solid white;
  background-color: white;
  border-radius: 3px;
  padding-left: 10px;
  color: #222222;
  font-size: 18px;
  margin-bottom: 10px;

}


.recovers
{

   width: 100%;
   height: auto;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   margin-top: 10px;

}



#recoveryDataScreen .recovers input
{

  background-color: #F59C00;
  color: white;
  text-align: center;
  cursor: pointer;
  width: 100%;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #F59C00;
  border-radius: 3px;
  font-size: 18px;

}


#recoveryDataScreen .recovers input:hover
{

    background-color: #92610B;

}


@media screen and (max-width: 800px)
{

   #core form
   {

      width: 90%

   }


   .usersData
   {

      border: 1px solid #F59C00;
      border-radius: 3px;
      height: 40px;

   }


   .signInUp
   {

      flex-direction: column;

   }


   .signInUp input
   {

      margin-top: 5px;

   }


   #sigin, #sigup
   {

      border-radius: 3px;
      width: 100%;

   }

}
